<p>connect works!</p>
<!-- <button routerLink="../signin/subscribe/show">show something</button> -->
<form>
    <div class="row g-3 align-items-center">
    <div class="mb-3">
      <label for="name" class="form-label" >Email</label>
      <input type="email" class="form-control" id="#name" #name="ngModel" [(ngModel)]="userEmail"  name="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="userPassword" name="password">
    </div></div>
    <br>
    <div class=" col-5 mx-auto">
        <button class="btn btn-primary" (click)="login()" [disabled]="this.userEmail=='' || this.userPassword=='' ">Log in</button>
    </div>
  </form>

  <div *ngIf="this.userdetails.currentCommunity==null && this.userdetails.currentUser!=undefined">
    <div  *ngFor="let com of this.userdetails.comArray" >
      <!-- {{this.comService.comArray[0].communityName}} -->
      <div (click)="chooseCommunity(com)">
        {{com.communityName}} 
        {{com.Descriptions}}
      </div>
    </div>
    <hr>
  </div>
